body {
	font-size:  16px;
	color:  #000000;
	background-color: #094009;
	font-family: 'oxygen', sans-serif;

}

/* HEADER */
#header-nav {
	background-color: #5e5e5e;
	border-radius: 20px;
	border: 0;
  margin:  2px;
  margin-bottom: 20px;
}

.navbar-brand {
  padding-top: 18px;
}

.container h1 {
  font-family: 'Oxygen', serif;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin:  10px 10px 10px 10px;
  text-align:  center;
  line-height: .75;
}

/* END HEADER */

h3 {
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

#box{
	background-color: #AAAAAA;
	
}

#box-menu{
	height: 50px ;
}

section{
  border-width: 40px;
  border-color: black;
  border-radius: 40px;
  padding:  0px;
}

div>article{
  background-color: #CCCCCC;
  border-radius:  40px;
  padding:  10px;
  }

section>div{
  padding:  15px;
}

.innerButtons{
  height:  80px;
  background-color:  #7c7c7c;
  border-radius: 40px;
  margin:  15px;
  padding: 15px;
  font-size:  1.3em;
}


.nrwButton{

  display: block;
  text-decoration: none;
  height:  50px;
  width:  50px;
  color:  #000000;
  padding:  10px;
  text-align:  center;
  border-radius:  25px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  float:  left;
  margin-left:  15px;
}

.wideButton{

  display: block;
  text-decoration: none;
  height:  50px;
  width:  100px;
  color:  #000000;
  padding:  10px;
  text-align:  center;
  border-radius:  25px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  float:  left;
  margin-left:  23px;
}
 
#RedIn{
  background-color:red;
  font-size:15px;
  padding:  14px 0px 0px 0px;
}
#GrnIn{
  background-color:green;
  font-size:15px;
  padding:  14px 0px 0px 0px;
}
#BluIn{
  background-color:blue;
  font-size:15px;
  padding:  14px 0px 0px 0px;
}

input[type="text"]{
  width:  40px;
  border-radius: 7px;
  border-width:  0px;
}

#powerBtn{
  background-color: #f06000;
}
#powerBtn:hover{
  text-decoration: none;
  color:  #000000;
  background-color: #ff6900;
}
#connBtn{
  background-color: #f06000;
  font-size: 14px;
}
#connBtn:hover{
  text-decoration: none;
  color:  #000000;
  background-color: #ff6900;
}

#GrnBtn{
   background-color: #c1e1c5;
}

#YlwBtn{
   background-color: #fef3bd;
}

#YlwBtn:hover{
  text-decoration: none;
  color:  #000000;
  background-color: #fccb00;
}

#GrnBtn:hover{
  text-decoration: none;
  color:  #000000;
  background-color: #008b02;
}

.submit_Btn{
  box-shadow: none;
  border: none;
}

