
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Home Controller</title>
    
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
            <a href=index.html class=""><h1>Grow Home Control</h1></a>
      </div>
    </nav>
  </header>

 <div id="main-content" class="container">
    <section class="container" class="row" id="box">
      <div class="col-md-4 col-sm-12 col-xs-12" id="col1">
        <article>
          <h4 class="text-center">Desk Leds</h4>
            <div  class = "innerButtons">
               <a href = "/powerSts/toggle" class = "wideButton" id="powerBtn">{{powerSts}}</a>
               <a href = "/connSts/conn" class = "wideButton" id="connBtn">{{connSts}}</a>
            </div> 
            <div  class = "innerButtons">
                <a href="/switchMode/on"class="nrwButton" id="GrnBtn">{{mode}}</a>
                  <form action = "/data/red" class = "nrwButton" id = "RedIn" method = "POST">
                    <input type="text" value = "{{redValu}}" class = "input" maxlength="3" max="255" name = "field">
                  </form>
                  <form action = "/data/grn" class = "nrwButton" id = "GrnIn" method = "POST">
                    <input type="text" value = "{{grnValu}}" class = "input" maxlength="3" max="255" name = "field">
                  </form>
                  <form action = "/data/blu" class = "nrwButton" id = "BluIn" method = "POST">
                    <input type="text" value = "{{bluValu}}" class = "input" maxlength="3" max="255" name = "field">
                  </form>
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
        </article>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12" id="col1">
        <article>
          <h4 class="text-center">Device 2</h4>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
        </article>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12" id="col1">
        <article>
          <h4 class="text-center">Device 3</h4>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
        </article>
      </div>
    </section>
  </div>


</body>
</html>
