
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Home Controller</title>
    
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
            <a href=index.html class=""><h1>Grow Home Control</h1></a>
      </div>
    </nav>
  </header>

 <div id="main-content" class="container">
    <section class="container" class="row" id="box">
      <div class="col-md-4 col-sm-12 col-xs-12" id="col1">
        <article>
          <h4 class="text-center">Desk Leds</h4>
            <div  class = "innerButtons">
              {% if  ledYlw   == 1 %}
                <a href="/ledGrn/off"class="linkButton" id="YlwBtn">OFF</a>
              {% else %}
                <a href="/ledGrn/on" class="linkButton" id="YlwBtn">ON</a> 
              {% endif %}
              <!--
              <a href = "/ledGrn/on" class = "linkButton" id="YlwBtn">
                ON
              </a> 
              -->
            </div>
            <div  class = "innerButtons">
              <a href = "/ledGrn/on" class = "linkButton" id="GrnBtn">
                ON
              </a> 
            </div> 
            <div class = "innerButtons">
              Device Command
            </div>
        </article>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12" id="col1">
        <article>
          <h4 class="text-center">Device 2</h4>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
        </article>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12" id="col1">
        <article>
          <h4 class="text-center">Device 3</h4>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
            <div class = "innerButtons">
              Device Command
            </div>
        </article>
      </div>
    </section>
  </div>


</body>
</html>
